<html lang="en">

<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/fa.min.css" rel="stylesheet" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>

<body class="home" id="home">
    <div class="intro">
        <div class="p-3 m-3 mt-0 pt-0">
            <h3 class="text p-0 mt-4"> Важные объявления: </h3>
            <!-- <div id="miniframe"> -->
            <!-- <iframe src="http://www.localhost:5173" class="myminiframe collectonme"> </div>" scrolling="no" id="myminiframe"> </iframe> -->
            <!-- </div>      -->
            <div class="row row-cols-1 row-cols-md-3 g-3">
                <% if (ads) { for (var i in ads) { %>
                    <div class="col-sm-4 mb-3 mb-sm-0">
                        <div class="card h-100">
                            <div class="card-header"> <%= ads[i].author %> </div>
                            <div class="card-body">
                                <h5 class="card-title"> <%= ads[i].name %> </h5>
                                <p class="card-text"> <%= ads[i].comment %> </p>
                            </div>
                            <div class="card-footer">
                                <% if (ads[i].timeOfLife === '9999-01-01') { %>
                                    Актуально: бессрочно
                                <% } else { %>
                                    Актуально до: <%= ads[i].timeOfLife %>
                                <% } %>
                            </div>
                        </div>
                    </div>
                <% } } %>
            </div>
        </div>
    </div>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script>
        setInterval(function() {
            window.location.reload();
        }, 60000);
    </script>
</body>
