<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="data/card.css">
    <meta charset="utf-8">
    <audio src="data/bg.mp3" type="audio/mp3" autoplay="autoplay"></audio>
</head>

<body onload="openPage()">

    <div>
        <div class="instruct">
            <h1>Ты новый пользователь? <br>Погнали покажу нашу качалку (систему).</h1>
            <br> <br>
            <p align="justify"> Про первое правило нашей системы ты должен помнить всегда - <strong>у нас все максимально просто</strong>. Это тебе не OBS. Если ты застал время, когда нужно было работать через этот кошмар, просто забудь. Так будет лучше для всех. </p>
            <br> 
            <p align="justify">На сервере существует 4 класса геров качалки. Если ты читаешь данную инструкцию, скорее всего ты пока что ничего не подозревающий будущий РЕДАКТОР.</p>
            <br> <h3>РЕДАКТОР</h3> <br> <p align="justify"> Выполняет работу по настройке отображения. <br>От его работы зависит не только корректность трансляции, но и получит ли он "халтурку" за день практики. <br>Редактор напрямую взаимодействует с модератором, отправляя ему на проверку программу трансляции, которую тот в свою очередь может одобрить или попросить доработать. Подробная информация про работу редактора в инструкции "Справочник редактора".  </p>
            <br> <h3>МОДЕРАТОР</h3> <br> <p align="justify"> А вот этот герой поважнее. Он отвечает за корректность установленной трансляции. Его задача - выявлять косяки настройки трансляции и несоответствия. А вот чтобы стать настолько крутым челом, нужно заслужить немалое доверие (или докинуть браткам на снарягу 550$, ты ж не жмот, камон :D)</p>
            <br> <h3>ОПОВЕСТИТЕЛЬ</h3> <br> <p align="justify"> Братки данного класса - саппорты. Они всегда подскажут что-то полезное. Результат их работы всегда можно увидеть во вкладке объявлений. Главное, чекай. Там действительно может быть что-то важное. </p>
            <br> <h3>АДМИНИСТРАТОР</h3> <br> <p align="justify"> Тот самый босс качалки. Может проконтролировать и отследить чей угодно ASS. От него не скроется любое твое действие на сервере, поэтому советую быть аккуратным и не делать ничего лишнего. </p>

        </div>
    
        <div class="role_cards">

            <div class="wrapper" name="editor">

                <div class="overviewInfo">

                    <div class="actions">

                        <!-- <div class="backbutton">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.02698 11.9929L5.26242 16.2426L6.67902 14.8308L4.85766 13.0033L22.9731 13.0012L22.9728 11.0012L4.85309 11.0033L6.6886 9.17398L5.27677 7.75739L1.02698 11.9929Z" fill="currentColor"/>
                            </svg>
                        </div> -->
                        
                        <!-- <div class="cartbutton neurobutton"> 
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.79166 2H1V4H4.2184L6.9872 16.6776H7V17H20V16.7519L22.1932 7.09095L22.5308 6H6.6552L6.08485 3.38852L5.79166 2ZM19.9869 8H7.092L8.62081 15H18.3978L19.9869 8Z" fill="currentColor"/>
                                <path d="M10 22C11.1046 22 12 21.1046 12 20C12 18.8954 11.1046 18 10 18C8.89543 18 8 18.8954 8 20C8 21.1046 8.89543 22 10 22Z" fill="currentColor"/>
                                <path d="M19 20C19 21.1046 18.1046 22 17 22C15.8954 22 15 21.1046 15 20C15 18.8954 15.8954 18 17 18C18.1046 18 19 18.8954 19 20Z" fill="currentColor"/>
                            </svg>
                        </div> -->

                    </div>
                    
                    <div class="productinfo">

                        <div class="grouptext">
                            <h3>РЕДАКТОР</h3>
                            <p>Слэйв этого проекта-пирамиды</p>
                        </div>

                        <div class="grouptext">
                            <h3>ТУГОДУМ</h3>
                            <p> Этим пользуются</p>
                        </div>

                        <div class="grouptext">
                            <h3>ASS PRICE</h3>
                            <p>$0 + ALL TIME <br>(SLAVE)</p>
                        </div>
                    
                        <div class="productImage" style="transform: rotate(-15deg) translate(-30px, -90px) scale(0.44); ">
                            <audio id="Sound1" src="data/slave.wav"></audio>
                            <img id="Imaga1" src="https://sticker-collection.com/stickers/plain/Gachimuchi_best/512/f8fcbda7-23d9-4f88-bac7-a3da338e4797file_2790580.webp" alt="product: editor selfie">
                        </div>
                    </div>
                    
                </div> 
                <!-- overview info -->
            
                <div class="productSpecifications">
                    <h1>Имеет наглость</h1>
                    <p> Настраивать шайтайн-трансляцию пропаганды в рабство кафедры. <br>По факту без приказа не может ничего. Настоящий работник. </p>
                    
                    <div class="productFeatures">
                        <div class="feature">
                            <div class="featureIcon"> 
                                &#11088;
                            </div>
                            <div class="featureText">
                                <p> <strong>Классический</strong></p>
                                <p> slave на стуле </p>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="featureIcon">
                                &#11088;
                            </div>
                            <div class="featureText">
                                <p> <strong>Батрачить хочешь?</strong></p>
                                <p> Админ только за </p>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="featureIcon"> 
                                &#11088;
                            </div>
                            <div class="featureText">
                                <p> <strong>"Это не мой косяк!"</strong></p>
                                <p> И вообще я не курю </p>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="featureIcon">
                                &#11088;
                            </div>
                            <div class="featureText">
                                <p> <strong>Щя сп####м</strong></p>
                                <p> новость и похайпим </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="checkoutButton">
                        <div class="priceTag">
                            <span>$</span>FREE
                        </div>
                        <button class="preorder">
                            <p>Хочу стать таким</p>
                            <div class="buttonaction">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z" fill="currentColor"/>
                                </svg>
                            </div>
                        </button> 
                    </div>

                </div>
                <!-- product specificaiton -->
            
            </div>
            <!-- editor-->

            <div class="wrapper" name="moder">

                <div class="overviewInfo">

                    <div class="actions">

                        <!-- <div class="backbutton">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.02698 11.9929L5.26242 16.2426L6.67902 14.8308L4.85766 13.0033L22.9731 13.0012L22.9728 11.0012L4.85309 11.0033L6.6886 9.17398L5.27677 7.75739L1.02698 11.9929Z" fill="currentColor"/>
                            </svg>
                        </div> -->
                        
                        <!-- <div class="cartbutton neurobutton"> 
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.79166 2H1V4H4.2184L6.9872 16.6776H7V17H20V16.7519L22.1932 7.09095L22.5308 6H6.6552L6.08485 3.38852L5.79166 2ZM19.9869 8H7.092L8.62081 15H18.3978L19.9869 8Z" fill="currentColor"/>
                                <path d="M10 22C11.1046 22 12 21.1046 12 20C12 18.8954 11.1046 18 10 18C8.89543 18 8 18.8954 8 20C8 21.1046 8.89543 22 10 22Z" fill="currentColor"/>
                                <path d="M19 20C19 21.1046 18.1046 22 17 22C15.8954 22 15 21.1046 15 20C15 18.8954 15.8954 18 17 18C18.1046 18 19 18.8954 19 20Z" fill="currentColor"/>
                            </svg>
                        </div> -->

                    </div>
                    
                    <div class="productinfo">

                        <div class="grouptext">
                            <h3>МОДЕРАТОР</h3>
                            <p>Стукач (но официальный - ему можно)</p>
                        </div>

                        <div class="grouptext">
                            <h3>ПОДОЗРИТЕЛЬНЫЙ</h3>
                            <p> Он что-то знает</p>
                        </div>

                        <div class="grouptext">
                            <h3>ASS PRICE</h3>
                            <p>$250</p>
                        </div>
                    
                        <div class="productImage" style="transform: rotate(-5deg) translate(-35px, -85px) scale(0.42); ">
                            <audio id="Sound2" src="data/fister.wav"></audio>
                            <img id="Imaga2" src="https://sticker-collection.com/stickers/plain/Gachimuchi_best/512/a3fb865c-1e48-4aaf-9f9c-fa4f17806d31file_2790584.webp" alt="product: moder selfie">
                        </div>
                    </div>
                    
                </div> 
                <!-- overview info -->
            
                <div class="productSpecifications">
                    <h1>Всегда знает что</h1>
                    <p> В одно касание вырубит 30 минут твоей работы. Может сказать, что ты сделал говно, и будет прав. <br>Найдет что найти где нужно. </p>
                    
                    <div class="productFeatures">
                        <div class="feature">
                            <div class="featureIcon"> 
                                &#x26A1;
                            </div>
                            <div class="featureText">
                                <p> <strong>Местный тестировщик</strong></p>
                                <p> уъу какой злой </p>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="featureIcon">
                                &#x26A1;
                            </div>
                            <div class="featureText">
                                <p> <strong>Тусовки и чай</strong></p>
                                <p> на кафедре All-time </p>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="featureIcon"> 
                                &#x26A1;
                            </div>
                            <div class="featureText">
                                <p> <strong>"Ты работай</strong></p>
                                <p> а я пожалуй пойду" </p>
                            </div>
                        </div>

                        <div class="feature">
                            <div class="featureIcon">
                                &#x26A1;
                            </div>
                            <div class="featureText">
                                <p> <strong>"Ты кнш работаешь</strong></p>
                                <p> но я все равно круче" </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="checkoutButton">
                        <div class="priceTag">
                            <span>$</span>250
                        </div>
                        <button class="preorder">
                            <p>Хочу стать таким</p>
                            <div class="buttonaction">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z" fill="currentColor"/>
                                </svg>
                            </div>
                        </button> 
                    </div>

                </div>
                <!-- product specificaiton -->
            
            </div>
            <!-- moder-->

            <div class="wrapper" name="adsender">

                <div class="overviewInfo">

                    <div class="actions">

                        <!-- <div class="backbutton">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.02698 11.9929L5.26242 16.2426L6.67902 14.8308L4.85766 13.0033L22.9731 13.0012L22.9728 11.0012L4.85309 11.0033L6.6886 9.17398L5.27677 7.75739L1.02698 11.9929Z" fill="currentColor"/>
                            </svg>
                        </div> -->
                        
                        <!-- <div class="cartbutton neurobutton"> 
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.79166 2H1V4H4.2184L6.9872 16.6776H7V17H20V16.7519L22.1932 7.09095L22.5308 6H6.6552L6.08485 3.38852L5.79166 2ZM19.9869 8H7.092L8.62081 15H18.3978L19.9869 8Z" fill="currentColor"/>
                                <path d="M10 22C11.1046 22 12 21.1046 12 20C12 18.8954 11.1046 18 10 18C8.89543 18 8 18.8954 8 20C8 21.1046 8.89543 22 10 22Z" fill="currentColor"/>
                                <path d="M19 20C19 21.1046 18.1046 22 17 22C15.8954 22 15 21.1046 15 20C15 18.8954 15.8954 18 17 18C18.1046 18 19 18.8954 19 20Z" fill="currentColor"/>
                            </svg>
                        </div> -->

                    </div>
                    
                    <div class="productinfo">

                        <div class="grouptext">
                            <h3>ОПОВЕСТИТЕЛЬ</h3>
                            <p>Или же местный СМИ </p>
                        </div>

                        <div class="grouptext">
                            <h3>ОДНОЗНАЧНЫЙ</h3>
                            <p> Говорит что нужно </p>
                        </div>

                        <div class="grouptext">
                            <h3>ASS PRICE</h3>
                            <p>$550</p>
                        </div>
                    
                        <div class="productImage" style="transform: rotate(-5deg) translate(-30px, -85px) scale(0.42); ">
                            <audio id="Sound3" src="data/ratatui.wav"></audio>
                            <img id="Imaga3" src="https://sticker-collection.com/stickers/plain/Gachi_Memes/512/7f4670bf-4621-4b20-ad0a-7f2af4ab75b4file_2754867.webp" alt="product: adsender selfie">
                        </div>
                        
                    </div>
                    
                </div> 
                <!-- overview info -->
            
                <div class="productSpecifications">
                    <h1>Самый полезный</h1>
                    <p> Потому что напишет ровно то, что важно увидеть. <br>Ни больше, ни меньше. Однозначно полезный чел. </p>
                    
                    <div class="productFeatures">
                        <div class="feature">
                            <div class="featureIcon"> 
                                &#x1F4A5;
                            </div>
                            <div class="featureText">
                                <p> <strong>Ничего лишнего</strong></p>
                                <p> и даже рекламы </p>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="featureIcon">
                                &#x1F4A5;
                            </div>
                            <div class="featureText">
                                <p> <strong>Ничего личного</strong></p>
                                <p> но ты ко мне потом подойди </p>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="featureIcon"> 
                                &#x1F4A5;
                            </div>
                            <div class="featureText">
                                <p> <strong>"Работать не буду</strong></p>
                                <p> но я здесь самый полезный" </p>
                            </div>
                        </div>

                        <div class="feature">
                            <div class="featureIcon">
                                &#x1F4A5;
                            </div>
                            <div class="featureText">
                                <p> <strong>"Мои объявления</strong></p>
                                <p> для вас просто слова? Да, это так." </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="checkoutButton">
                        <div class="priceTag">
                            <span>$</span>550
                        </div>
                        <button class="preorder">
                            <p>Хочу стать таким</p>
                            <div class="buttonaction">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z" fill="currentColor"/>
                                </svg>
                            </div>
                        </button> 
                    </div>

                </div>
                <!-- product specificaiton -->
            
            </div>
            <!-- adsender -->

            <div class="wrapper" name="boss">

                <div class="overviewInfo">

                    <div class="actions">

                        <!-- <div class="backbutton">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.02698 11.9929L5.26242 16.2426L6.67902 14.8308L4.85766 13.0033L22.9731 13.0012L22.9728 11.0012L4.85309 11.0033L6.6886 9.17398L5.27677 7.75739L1.02698 11.9929Z" fill="currentColor"/>
                            </svg>
                        </div> -->
                        
                        <!-- <div class="cartbutton neurobutton"> 
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.79166 2H1V4H4.2184L6.9872 16.6776H7V17H20V16.7519L22.1932 7.09095L22.5308 6H6.6552L6.08485 3.38852L5.79166 2ZM19.9869 8H7.092L8.62081 15H18.3978L19.9869 8Z" fill="currentColor"/>
                                <path d="M10 22C11.1046 22 12 21.1046 12 20C12 18.8954 11.1046 18 10 18C8.89543 18 8 18.8954 8 20C8 21.1046 8.89543 22 10 22Z" fill="currentColor"/>
                                <path d="M19 20C19 21.1046 18.1046 22 17 22C15.8954 22 15 21.1046 15 20C15 18.8954 15.8954 18 17 18C18.1046 18 19 18.8954 19 20Z" fill="currentColor"/>
                            </svg>
                        </div> -->

                    </div>
                    
                    <div class="productinfo">

                        <div class="grouptext">
                            <h3>АДМИНИСТРАТОР</h3>
                            <p>Босс системы отображения</p>
                        </div>

                        <div class="grouptext">
                            <h3>ЧЕТКИЙ</h3>
                            <p>Как всегда</p>
                        </div>

                        <div class="grouptext">
                            <h3>ASS PRICE</h3>
                            <p>$1000</p>
                        </div>
                    
                        <div class="productImage" style="transform: rotate(15deg) translate(-60px, -75px) scale(0.44); ">
                            <audio id="Sound4" src="data/boss.wav"></audio>
                            <img id="Imaga4" src="https://sticker-collection.com/stickers/plain/Gachimuchi_best/512/ed90aea7-8c92-4b33-b41f-d5ad3b33f6f4file_2790570.webp" alt="product: admin selfie">
                        </div>
                    </div>
                    
                </div> 
                <!-- overview info -->
            
                <div class="productSpecifications">
                    <h1>Что могёт?</h1>
                    <p> Серьезно? <br>Проще сказать, чего он не может. <br>Чего он не может: ничего. <br>Этим все сказано. </p>
                    
                    <div class="productFeatures">
                        <div class="feature">
                            <div class="featureIcon"> 
                                🔥
                            </div>
                            <div class="featureText">
                                <p> <strong>Поджопники</strong></p>
                                <p> за халтурку </p>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="featureIcon">
                                🔥
                            </div>
                            <div class="featureText">
                            <p> <strong>Следит</strong></p>
                            <p> за тобой 24/7 </p>
                            </div>
                        </div>
                        <div class="feature">
                            <div class="featureIcon"> 
                                🔥
                            </div>
                            <div class="featureText">
                                <p> <strong>Очень важный</strong></p>
                                <p>вид по жизни</p>
                            </div>
                        </div>

                        <div class="feature">
                            <div class="featureIcon">
                                🔥
                            </div>
                            <div class="featureText">
                                <p> <strong>За процессор</strong></p>
                                <p> пояснишь 100% </p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="checkoutButton">
                        <div class="priceTag">
                            <span>$</span>1000
                        </div>
                        <button class="preorder">
                            <p>Хочу стать таким</p>
                            <div class="buttonaction">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z" fill="currentColor"/>
                                </svg>
                            </div>
                        </button> 
                    </div>

                </div>
                <!-- product specificaiton -->
            
            </div>
            <!-- boss-->

            <script src="data/sound.js"></script>
        </div>
    </div>

</body>
</html>

<style>

p {
    line-height: 1.5;
}

.instruct {
    margin-top: 50px;
    margin-left: 220px;
    margin-right: 220px;
    position: relative;

}

.role_cards {
    margin-top: -60px;
    display:flex;
    transform: scale(0.7);
}

</style>
